body {
    background-color: #191919;
}
.reveal section img {
    background: rgba(255, 255, 255, 0);
    margin: auto;
}
.reveal {
    font-size: 250%;
}
h1, h2 {
    text-align: center;
}
div.input_prompt {
    color: #686f9e;
}
div.output_area pre {
    color: navajowhite;
}
div.text_cell {
    display: block;
}
div.text_cell_render {
    color: #ffffff;
}
